<nav class="main-nav">
    <div class="container nav-container">
        <ul class="nav-links">
            <li><a href="#" class="nav-link active" data-section="notice"><i class="fas fa-bullhorn"></i> Notice</a></li>
            <li><a href="#" class="nav-link" data-section="syllabus"><i class="fas fa-book"></i> Syllabus</a></li>
            <li><a href="#" class="nav-link" data-section="old-questions"><i class="fas fa-file-alt"></i> Old Questions</a></li>
            <li><a href="#" class="nav-link" data-section="objective-mcqs"><i class="fas fa-question-circle"></i> Objective MCQs</a></li>
            <li><a href="#" class="nav-link" data-section="subjective"><i class="fas fa-edit"></i> Subjective</a></li>
            <li><a href="#" class="nav-link" data-section="take-exam"><i class="fas fa-clock"></i> Take Exam</a></li>
        </ul>
    </div>
</nav>
